@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --light:#fff;
    --dark: #000;
    --inputColor : rgba(255, 255, 255, 0.16);
    --inputHover : rgba(255, 255, 255, 0.2);
    --hover: rgba(255, 255, 255, 0.8);
}

body{
    background-color: #44656E !important;
    color: var(--light) !important;
    font-family: "Inter", serif !important;
}

main{
    padding-inline: 4rem;
}

::selection{
    background-color: var(--dark);
    color:var(--light);
}

/* Header Css */
.searchBar {
    position: relative;
  }
  
  .searchBar input {
    width: 468px !important;
    height: 48px;
    padding-inline: 3rem;
    background-color: var(--inputColor) !important;
    color: var(--light) !important;
    border: transparent;
    outline: none !important;
    backdrop-filter: blur(20px);
    transition: background-color 0.2s cubic-bezier(0.05, 0, 0.2, 1), border-color 0.2s cubic-bezier(0.05, 0, 0.2, 1);
    border-radius: 0.8rem;
    box-shadow: none !important;
    &:focus{
      background-color: var(--inputHover) !important;
    }
  }
  
  .searchBar input::placeholder{
      color: var(--light);
  }
  
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
  }
  
  .searchLink {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0%, -50%);
    background: var(--inputColor);
    padding: 0.1rem 0.5rem;
    color: var(--light);
    border-radius: 0.5rem;
    font-size: 12px;
  }
  
  .authText{
      background-color: var(--inputColor);
      padding:0.6rem 1rem;
      border-radius: 0.8rem;
      color: var(--light);
      text-align: center;
      font-weight: 600;
      &:hover{
          background-color: var(--inputHover) !important;
        }
  }
  
  .navmenu {
      font-weight: 600;
      gap: 1rem;
  }
  
  .navmenu a{
      color: var(--light);
      &:hover{
          color: var(--hover) !important;
      }
  }
  
  .navmenu a.active{
      color: var(--hover) !important;
  }

  /* Home Page css */
  .hero-section{
    background: var(--inputColor);
    min-height: 500px;
    border-radius: 1rem;
    margin-top: 1rem;
}